[Unit]
Description=Nethermind Node Tests

[Service]
Type=simple
Restart=on-failure
RestartSec=30
TimeoutStopSec=180
WorkingDirectory=/root/nethermind-node-tests
ExecStart=dotnet test NethermindNodeTests.sln -c Release --logger:"nunit;LogFilePath=/root/test-result.xml" --filter CATEGORIES
Environment=DOTNET_CLI_HOME=/tmp/
StandardOutput=file:/root/testsOutput.log
StandardError=file:/root/testsErrors.log

[Install]
WantedBy=default.target[Unit]