<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false">

	<targets>
		<target name="simpleLogsUbuntu" xsi:type="File" fileName="${home}/simplelogs.txt" />
		<target name="fullLogsUbuntu" xsi:type="File" fileName="${home}/fulllogs.txt" />
		<target name="simpleLogsMainDir" xsi:type="File" fileName="simplelogs.txt" />
		<target name="fullLogsMainDir" xsi:type="File" fileName="fulllogs.txt" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" maxlevel="Info" writeTo="simpleLogsUbuntu" />
		<logger name="*" minlevel="Trace" writeTo="fullLogsUbuntu" />
		<logger name="*" minlevel="Info" maxlevel="Info" writeTo="simpleLogsMainDir" />
		<logger name="*" minlevel="Trace" writeTo="fullLogsMainDir" />
	</rules>
</nlog>
